<!DOCTYPE html>
<html>
<head>
  <title>CoordsToWeather</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<form>
 <div>
  <label for="address" >Address:</label>
  <input name="address" type="text" id="first">
 </div>
 <div>
  <input type="submit" value="Get Coords">
 </div>
</form>

<%= yield %>

</body>
</html>
